.centrecomic {
  display:flex;
  justify-content: center;
  padding: 0.5em;
  font-family: 'comic_zine_otregular';
  font-size: calc(10px + 8vmin);
  text-align: center;
}

@font-face {
    font-family: 'comic_zine_otregular';
    src: url('../fonts/comic_zine_ot-webfont.eot');
    src: url('../fonts/comic_zine_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comic_zine_ot-webfont.woff') format('woff'),
         url('../fonts/comic_zine_ot-webfont.ttf') format('truetype'),
         url('../fonts/comic_zine_ot-webfont.svg#comic_zine_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }